* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: rgb(0, 0, 0);
  text-align: center;
  line-height: 1.5;
}

nav,
footer {
  padding: 1% 0;
  /*background-color: ;*/
  text-align: right;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

header {
  /*this needs to be sized
  background-image: url(/images/zhang-kenny-E163LGOdZnw-unsplash.jpg);
*/
  padding: 12% 0;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: rgb(184, 173, 173);
}

main {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 5%;
  border: 10px;
}

span {
  margin: 30px;
  font-size: 16px;
}

h1 {
  font-size: 15px;
}
