* {
  box-sizing: border-box;
}

body {
  margin: auto;
  background-color: rgba(228, 217, 214, 0.979);

  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: center;
  line-height: 1.5;
  line-height: 20px;
}

nav {
  padding: 3% 0;
  padding-right: 5%;
  text-align: right;
}

nav a {
  text-decoration: none;
  color: black;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  padding: 0 20px 0 20px;
}

.main-page-header {
  background-image: url(/images/zhang-kenny-E163LGOdZnw-unsplash.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  min-height: 50vh;
  text-align: start;
  font-size: 40px;
  color: aliceblue;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 5%;
  border: 10px;
}

main {
  margin: 0px;
  padding: 0px;
}

/*main a {
  text-decoration: none;
  color: rgb(4, 4, 95);
  padding: 10px;
}*/

.about-page-header {
  height: 60px;
  padding-left: 3%;
  padding-right: 3%;

  text-align: left;
}

.about-main {
  padding-left: 10%;
  text-align: left;
  line-height: 2;
  max-width: 85%;
}

.about-main p {
  padding-top: 30px;
  text-align: center;
}

.project-container {
  height: 35%;
  padding: 0% 0;
}

img {
  width: 70%;
  height: 60%;
}

main {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 5%;
  border: 10px;
}

span {
  margin: 30px;
  font-size: 16px;
}

footer {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 3.5;
}
h2 {
  font-size: 20px;
}
