* {
  box-sizing: border-box;
}

body {
  margin: auto;
  background-color: whitesmoke;

  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: center;
  line-height: 1.5;
  line-height: 20px;
}

.main-page-header {
  background-image: url(images/zhang-kenny-E163LGOdZnw-unsplash.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  min-height: 40vh;
  text-align: start;
  font-size: 40px;
  color: aliceblue;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 5%;
  padding-bottom: 10%;
  margin-bottom: 10%;
}

nav {
  font-size: 20px;
  padding: 3% 0;
  padding-right: 5%;
  text-align: right;
}

nav a {
  text-decoration: none;
  color: white;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  padding: 0 20px 0 20px;
}

.language-icons {
  margin: auto;
  width: 80%;
  height: 20vh;

  /*display: inline-block;*/
}
div {
  display: inline-flex;
  align-content: space-evenly;

  margin-right: 10%;
  margin-bottom: 5%;
  width: 45px;
  height: 45px;
}

.html {
  background-image: url(images/iconfinder_HTML_Color_Black_65697.png);

  background-size: cover;
  background-repeat: no-repeat;
}

.css {
  background-image: url(images/iconfinder_css3_icon_291788.svg);

  background-size: cover;
  background-repeat: no-repeat;
}

.js {
  background-image: url(images/720px-JavaScript-logo.png);

  background-size: cover;
  background-repeat: no-repeat;
}

.about-page-header {
  height: 60px;
  padding-left: 3%;
  padding-right: 3%;

  min-height: 30vh;

  padding-left: 3%;
  padding-right: 3%;
  padding-top: 5%;
  border: 10px;
}
.about-page-header a {
  color: black;
}

.about-main {
  padding-left: 10%;

  text-align: left;
  line-height: 2;
  max-width: 85%;
}

.about-main p {
  padding-top: 20vh;
  padding-bottom: 10vh;
  text-align: center;
  /*line-height: 2;*/
}

.project-container {
  height: 35%;
  padding: 0% 0;
  line-height: 2;
}

main a {
  color: #c75f44;
  text-decoration: none;
  padding-right: 10px;
}

img {
  width: 70%;
  height: 60%;
}

main {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 5%;
  border: 10px;
}

footer {
  text-align: center;
  padding-top: 20vh;
  color: #c75f44;
}
hr {
  border: 1px solid;
  color: #c75f44;
}
h1 {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 3.5;
}
h2 {
  font-size: 20px;
}
